!!!
%html{:lang => "en"}
  %head
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7", :name => "viewport"}/
    %meta{:content => "en-EN", :name => "language"}/
    %meta{:content => "Irfan Maulana", :name => "author"}/
    %title BulmaAdminRails
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/header'
    .wrapper
      .columns
        %aside.column.is-2.aside
          = render 'shared/sidebar'
        %main.column.main
          - flash.each do |type, message|
            .notification{ :class => bulma_flash_class[type] || 'is-primary'}
              %button.delete
              - case type
              - when 'error'
                %span.icon.has-text-warning
                  %i.fa.fa-warning
              - when 'alert'
                %span.icon.has-text-danger
                  %i.fa.fa-warning
              - when 'notice'
                %span.icon.has-text-info
                  %i.fa.fa-info-circle
              - when 'info'
                %span.icon.has-text-notice
                  %i.fa.fa-info-circle
              - when 'success'
                %span.icon.has-text-warning
                  %i.fa.fa-check-square
              - else
                -# no icon

              = message
          = yield
